sudo: false
language: go
git:
    depth: 1
install: go get -v github.com/gohugoio/hugo
script:
    hugo
deploy:
    provider: pages
    skip_cleanup: true
    github_token: $GITHUB_TOKEN
    on:
        branch: master
    local_dir: public
    repo: sleephu/sleephu.github.io
    fqdn: jyhu.ml
    target_branch: master
    email: sleephu2@gmail.com
    name: sleephu2@gmail.com

